@page
@model UI.Pages.Diary.PublishModel
@{
    ViewData["Title"] = "标题";
}
<span>文章发布</span>
<form method="post">
    <div>
        <label>标题：</label><input asp-for="Diary.Title" />
    </div>
    <div>
        <label>主题：</label><input asp-for="Diary.Body" />
    </div>
    <button type ="submit">提交</button>

</form>


